{% extends "navbar.html" %}
{% load static %}

{% block content %}

<div class="logout h-100 text-center">
  <div class="container d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="mb-5">Logged out!</h1>
    <div class="d-flex">
    <a class="px-3 h5" href="{% url 'login'%}">Login Again</a>
    <a class="px-3 h5" href="{% url 'home' %}">Go Back Home</a>
  </div>
  </div>
</div>
<style>
  .logout a{
    transition: all 0.4s ease-out;
  }
  .logout ,a:hover{
    color: black;
  }
</style>
    <!-- No Scripts used on this page -->
    <!-- Scripts -->
    <!-- <script src="{% static 'js/jquery.min.js' %}"></script> jQuery for Bootstrap's JavaScript plugins -->
    <!-- <script src="{% static 'js/popper.min.js' %}"></script> Popper tooltip library for Bootstrap -->
    <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> Bootstrap framework -->
    <!-- <script src="{% static 'js/jquery.easing.min.js' %}"></script> jQuery Easing for smooth scrolling between anchors -->
    <!-- <script src="{% static 'js/swiper.min.js' %}"></script> Swiper for image and text sliders -->
    <!-- <script src="{% static 'js/jquery.magnific-popup.js' %}"></script> Magnific Popup for lightboxes -->
    <!-- <script src="{% static 'js/morphext.min.js' %}"></script> Morphtext rotating text in the header -->
    <!-- <script src="{% static 'js/isotope.pkgd.min.js' %}"></script> Isotope for filter -->
    <!-- <script src="{% static 'js/validator.min.js' %}"></script> Validator.js - Bootstrap plugin that validates forms -->
    <!-- <script src="{% static 'js/scripts.js' %}"></script> Custom scripts -->
{% endblock %}