{% extends "navbar.html" %}
{% load static %}

{% block content %}

<div id="intro" class="basic-1">
    <div class="container">
        <div class="text-container">
            <h2>About</h2>
        </div> <!-- end of text-container -->
        <hr>
        <br>
        <h3>What we do</h3>
        <p>Training programs for parents</p>
        <br>
        <h3>Goal</h3>
        <p>To bring the best possible potential in the child</p>
        <br>
        <h3>Motto/mission</h3>
        <p>The children of Autism spectrum require help at many phases 
            and any phase of their life journey so this is the beginning 
            and we are there for the entire life journey.</p>
        <br>
        <h3>Objectives</h3>
        <ul>
            <li>To train the parents to train their child</li>
            <li>Optimization of  the quality of time with their child</li>
            <li>All possible feedback on the new challenges and new scope of development</li>
            <li>Parents to be self-empowered</li>
            <li>Bring the positivity</li>
        </ul>
        <br>
        
        <h3>How journey began and shaped</h3>
        <br>
        <h6>What is Leesha?</h6>
        <p>Leesha is a latin word in origin which means sweet and honest. Our organization Leesha 
            noble souls determine to  connect people and their noble souls to serve the purpose of 
            lives in their journey of autism.
        </p>
        <p>
        LeeshaNoblesouls includes all like mined individuals who have come together to make the lives 
        of special needs more special. </p>
        <p>
        <b>Leeshanoblesouls</b> is a unique initiative taken in India by Mrs. Mona Goyal, Dr. Krishnaveni Achary 
        and Dr. Niranjan. 
        </p>
        <br>
        <h6>History/Story</h6> 
        <p>To brief you about the history of “LeeshaNoblesouls”, it was  founded in the form of whatsapp group 
            in April 2016 by Ms. Mona Goyal. Initially the group had a few parents, one therapist Mr. Niranjan 
            and later joined by Researcher cum educator Dr. Krishnaveni Achary.
        </p>
        <p>
        The initial motive of the group includes give a platform for the parents with special needs to exchange 
        their idead, challenges, concepts, discoveries, uniques experiences they observed. Later it slowly emerged 
        not only as an ideas exchanger but also formulating and documenting the techniques that worked best for them 
        and translating the information to others who are still budding in their journey with special needs. They also 
        shared the unique techniques that helped them and journey on how creatively they invented those concerts that 
        helped in generating magical changes in their child's life.
        </p>
        <p>
        They experienced parents shared their journey and also expressed their mistakes and suggested ways how to 
        handle for the budding parents. The journey of acceptance and techniques of motivating, and also uniqueness 
        of sppreading positiThe concept was appreciated by so many parents,doctors and therapists. Thus Leesha circle 
        grew wider,the bonds became stronger.
        </p>
        
    </div> <!-- end of col -->
    </div> 
</div> 

{% endblock %}
