{% extends "navbar.html" %}
{% load static %}

{% block content %}

<style>
h3,h6,h5 {
  display: block;
  padding: 10px;
  font-family: "Times New Roman";
  font-size: 22px;
  transition: .3s;
}
p{
    font-family: "Times New Roman", Times, serif;
    padding-left: 10px;
    font-size: 17px;

}
</style>
<div id="intro" class="basic-1" style="padding: 0px">
        <img class="img-fluid-100 " src="{% static 'images/about-autism-top.jpeg' %}" alt="alternative" style="width: 100%;height: 400px">

    <h1 style="color:white; padding: 25px; background: #ff8000;text-align: center;font-family: 'Times New Roman'">ABOUT AUTISM</h1>

    <div class="container">

        <div class="row align-items-center">
            <div class="col-lg-7">

            <div class="text-container" style="color: #1167b1;">
               <ol class="list-1">
                    <h3>
                        <li><a class="page-scroll" style="color: #1167b1;" href="#definition">Autism Definition</a></li>
                        <br>
                       <li><a class="page-scroll" style="color: #1167b1;" href="#ASD">Autism VS Autism Spectrum Disorders (ASD)</a></li>
                       <br>
                        <li><a class="page-scroll" style="color: #1167b1;" href="#impairments">Social Impairment in Autism</a></li>
                        <br>
                    </h3>

                        <ol type="I">
                            <h6>
                                <li>
                                    <a class="page-scroll" style="color: #1167b1;" href="#communication">Difficulty with social communication</a>
                                </li>
                                <br>
                                <li>
                                    <a class="page-scroll" style="color: #1167b1;" href="#interaction">Difficulty with social interaction</a>
                                </li>
                                <br>
                                <li>
                                    <a class="page-scroll" style="color: #1167b1;" href="#imagination">Difficulty with social imagination</a>
                                </li>
                                <br>
                            </h6>
                        </ol>
                    </li>

                        <h3>
                            <li> <a class="page-scroll" style="color: #1167b1;" href="#characterstics">Common Characteristics of Autism</a></li>
                        </h3>
                        <br>
                        <ol type="I">
                            <h6>
                                <li>
                                    <a class="page-scroll" style="color: #1167b1;" href="#language-development">Severe delays in language development</a>
                                </li>
                                <br>
                                <li>
                                    <a class="page-scroll" style="color: #1167b1;" href="#relationships">Severe delays in understanding social relationships</a>
                                </li>
                                <br>
                                <li>
                                    <a class="page-scroll" style="color: #1167b1;" href="#sensory-responses">Inconsistent Patterns of sensory responses</a>
                                </li>
                                <br>
                                <li>
                                    <a class="page-scroll" style="color: #1167b1;" href="#pain">Insensitivity to pain</a>
                                </li>
                                <br>
                                <li>
                                    <a class="page-scroll" style="color: #1167b1;" href="#movements">Repetitive body movements</a>
                                </li>
                                <br>
                                <li>
                                    <a class="page-scroll" style="color: #1167b1;" href="#intellectual-fucntioning">Uneven patterns of intellectual functioning</a>
                                </li>
                                <br>
                                <li>
                                    <a class="page-scroll" style="color: #1167b1;" href="#development">Uneven pattern of development</a>
                                </li>
                            </h6>

                        </ol>
                    </li>
               </ol>
            </div>
            </div>
                <!-- <a class="btn-solid-reg page-scroll" href="#callMe">DETAILS</a> -->

               <div class="col-lg-5">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/autism-about.jpeg' %}" alt="alternative" >
                </div>
            </div>
        </div> <!-- end of text-container -->

        <hr>
        <div class="row align-items-center" id="definition">
            <div class="col-lg-7">
                <div class="text-container">
                    <h3>Autism Definition</h3>
                    <p style="padding: 10px">Autism is a complex neurodevelopmental disorder defined by the presence
                        of social deficits, abnormalities in communication, presence of stereotyped,
                        repetitive behaviours and a characteristic course. The National Trust for
                        the welfare of persons with autism, cerebral palsy, mental retardation and
                        multiple disabilities Act 1999 defined “Autism as a condition of uneven 
                        skill development primarily affecting the communication and social abilities
                        of a person marked by repetitive and ritualistic behaviour”.
                        The definition contains terminology like deficits, abnormality and so on.
                        Philosophically if we try to understand about autism it has a deeper insight
                        and that had clearly defined “Normality”.

                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/autism-definition.jpeg' %}" alt="alternative" width="250" height="250">
                </div>
            </div>
        </div>
        <br>

        <div class="row align-items-center" id="ASD">
            <div class="col-lg-7">
                <div class="text-container">
                    <h3>Autism VS Autism Spectral Disorders (ASD)</h3>
                    <p>
                        Autism is a complex developmental disorder that significantly affects the 
                        individual’s verbal and nonverbal communication and social interaction, and
                        is associated with engagement in restricted, repetitive and stereotypic 
                        patterns of behaviour, usually evident before age three 
                        (American Psychiatric Association (APA), 2000; Autism Society of America (ASA),
                        2003; World Health Organization (WHO), 1993). Autism is a lifelong developmental 
                        disability (The National Autistic Society, <a href="http://www.autism.org.uk/autism">www.autism.org.uk/autism</a>). 
                        It is part of Autism Spectrum Disorders (ASD) or Pervasive Developmental 
                        Disorders (PDD), refers to a spectrum of five disorders characterized by 
                        delays in the development of multiple basic functions including socialization 
                        and communication. The other disorders in the group are Asperger disorder, 
                        Rett syndrome, Childhood disintegrative, Pervasive developmental disorder – 
                        not otherwise specified. The word 'spectrum' is used because, while all 
                        people with ASD share three main areas of difficulty (socialization, 
                        communication and behaviour disorders), their condition will affect them 
                        in very different ways. Some are able to live relatively easy everyday lives; 
                        others will require a lifetime of specialist support. Among the group that 
                        constitutes ASD, the present study mainly focuses on the children with autism 
                        in Indian perspectives.
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/autism-spectrum.jpeg' %}" alt="alternative" width="250" height="250">
                </div>
            </div>
        </div>
        <br>

        <div class="row align-items-center" id="impairments">
            <div class="col-lg-7">
                <div class="text-container">
                    <h3>SOCIAL IMPAIRMENT IN AUTISM</h3>
                    <h6>
                    <ol type="I">
                        <li>
                            <h6>Difficulty with social communication</h6>
                        </li>
                        <li>
                            <h6>Difficulty with social interaction</h6>
                        </li>
                        <li>
                            <h6>Difficulty with social imagination.</h6>
                        </li>
                    </ol>
                        </h6>
                    <p>
                        The impact of lack of socialization affect in three main areas, which is 
                        visible in almost all people with autism. These are known as the 
                        'triad of impairments' (Bogdashina, 2005). They are:
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/autism-impairement.jpeg' %}" alt="alternative" width="250" height="250">
                </div>
            </div>
            <div class="text-container" id="communication">
                <h5>I. Difficulty with Social Communication</h5>
                <p>
                    People with autism can be verbal or non verbal and have difficulties with 
                    both modes of communication. Some people with autism may not speak (non verbal), 
                    or have fairly limited speech. Although they usually understand what other 
                    people say to them, they prefer to use alternative means of communication, 
                    such as sign language or visual symbols. A non-verbal child might use hands 
                    to show his/her interests. Those who are verbal with good language skills may 
                    have a peculiar speech pattern. They may have extreme language deficits like 
                    total lack of functional language, hard to understand give and take nature of 
                    conversations. Some of them possess meaningless repetition of words or phrases, 
                    immediate and delayed echolalia (meaningless repetition of words), apparent 
                    confusion with spoken language, reversal of pronouns (difficulty in discriminating 
                    between use of pronouns I and You) and metaphoric language (inability to form a concept of self).
                    They generally take the literal meaning of the language and think people always mean 
                    exactly what they say. 
                    For example, while teaching toileting skills, if the instructor ask to ‘open the zip’, 
                    the child would try to open the instructor's zip. Then the instructor needs to change his 
                    phrase saying ‘open your zip’ to facilitate him understanding the correct meaning. 
                    They can also find it difficult to use or understand facial expressions or tone of 
                    voice, jokes, sarcasm, common phrases and sayings. For example, the phrase 'It's cool', 
                    which people often say when they think that something is good, but strictly speaking, it 
                    means that it is a bit cold.
                    Hence, to achieve a better communication with people having autism, a person needs to speak in a clear 
                    and consistent way and give the time to process what has been said.

                </p>
            </div>
            <div class="text-container" id="interaction">
                <h5>II. Difficulty with Social Interaction</h5>
                <p>
                    People with autism often have difficulty in recognizing or understanding other 
                    people's emotions and feelings, and expressing their own, which can make it more 
                    difficult for them to fit in socially. They avoid eye contact and seem to live 
                    in their own world, resist to be picked up by elders, almost walked through people 
                    as if they were not there. They try to be so distant that no one could reach them or 
                    display affection. This results in lack of co-operative play with peers and an inability 
                    to understand other people's feelings.
                    They do not understand the unwritten social rules which most of us pick up intuitively. They may stand too close 
                    to another person or start an inappropriate subject of conversation. They appear to be insensitive because 
                    they do not recognize how someone else is feeling and appear to behave strangely or inappropriately, as it is
                    not always easy for them to express feelings, emotions or needs. Sometimes they possess indecent behaviours 
                    like licking any object, laughing and giggling without relevance, etc. 
                    Difficulties with social interaction can mean that people with autism find it hard to form friendships. 
                    Some may want to interact with other people and make friends, but may be unsure how to proceed.
                </p>
            </div>
            <div class="text-container" id="imagination">
                <h5>III. Difficulty with Social Imagination</h5>
                <p>
                    Social imagination allows us to understand and predict other people's behaviour, make 
                    sense of abstract ideas, and to imagine situations outside our immediate daily routine. 
                    Difficulties with social imagination mean that people with autism find it hard to 
                    understand, interpret and predict other people's thoughts, feelings and actions. It 
                    leads to lack of understanding in the concept of danger, e.g. that running on to a 
                    busy road poses a threat to them. Generally they engage in imaginative play and 
                    activities: children with autism may enjoy some imaginative play but prefer to act 
                    out the same scenes each time
                    Difficulties with social imagination should not be confused with a lack of imagination. 
                    Many people with autism are very creative and may be, for example, accomplished artists, 
                    musicians or writers.
                </p>
            </div>
        </div>
        <div class="row align-items-center" id="ASD">
            <div class="col-lg-7">
                <div class="text-container" id="characteristics">
                    <h3>Common Characteristics of Autism</h3>
                    <p>
                        It can be hard to create awareness of autism in the society, as 
                        people with the condition do not look disabled. Parents of children 
                        with autism often say that other people simply think their child as 
                        naughty. Different researchers attempted in different ways to categorize 
                        the characteristics of children with autism. In defining autism, 
                        Ritvo and Freeman made an attempt and have listed a disturbance of 
                        developmental rates or sequences as an essential characteristic 
                        (Koegel, et al. 1982), which usually includes.
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/common-characterstics.png' %}" alt="alternative" width="250" height="250">
                </div>
            </div>
            <div class="text-container" id="language-development">
                <h5>I. Severe delays in language development</h5>
                <p>
                    If it does develop, it usually includes peculiar speech patterns of the 
                    use of words without attachment to their normal meaning. Those who are 
                    able to use language effectively may still use unusual metaphors or 
                    speak in a formal and monotonous voice.
                </p>
            </div>
            <div class="text-container" id="relationships">
                <h5>II. Severe delays in understanding social relationships</h5>
                <p>
                    The autistic child often avoids eye contact, resists being picked up, and 
                    seems to "tune out" the world around it. This results in a lack of co-operative 
                    play with peers, an impaired ability to develop friendships and an inability to understand 
                    other people's feelings.
                </p>
            </div>
            <div class="text-container" id="sensory-responses">
                <h5>III. Inconsistent Patterns of sensory responses</h5>
                <p>
                    The child who has autism may appear at times to be deaf and fail to respond to words or 
                    other sounds. At other times, the same child may be extremely distressed by an everyday 
                    noise such as a vacuum cleaner or a dog's barking. Autistic individuals tend to have a 
                    high threshold for pain. They lack sensitivity to cold or heat, or may over-react to 
                    any of these. There is also a marked restriction of activity and interests.
                </p>
            </div>
            <div class="text-container" id="pain">
                <h5>IV. Insensitivity to pain</h5>
                <p>
                    Self-injurious behaviour is a commonly reported problem. Many, not all, autistic 
                    children lack perception to pain. They may fall and then bruise or cut themselves 
                    quite seriously, but they exhibit little or no reaction to the injury that can cause 
                    tissue damage, redness, and open wounds. The most common forms of these behaviours 
                    include head-banging, hand-biting, and excessive scratching or rubbing. Self-injury 
                    acts as a release and thus, lowers arousal. Some forms of self-injury may be a result 
                    of over arousal. In some cases, self-injury may be a form of self-stimulatory, 
                    stereotypic behaviour. That is, they are repetitive, ritualistic, which provide 
                    the individual with some form of sensory stimulation or arousal. It is commonly
                    remarked that autistic individuals tend to have a high threshold for pain.
                </p>
            </div>
            <div class="text-container" id="movements">
                <h5>V. Repetitive body movements</h5>
                <p>
                    A person who has autism may perform repetitive body movements, such as hand flicking, 
                    twisting, spinning or rocking. The individual may also display repetition by following 
                    the same route, the same order of dressing, or the same schedule everyday, etc. If 
                    changes occur in these routines, the pre-occupied child or adult usually becomes very 
                    distressed. Children identified as autistic exhibit many bizarre, repetitive behaviours 
                    and were characterized by impaired sensory perception and communication abilities.
                </p>
            </div>
            <div class="text-container" id="intellectual-functioning">
                <h5>VI. Uneven patterns of intellectual functioning</h5>
                <p>
                    The individual may have peak skills, e.g. scattered things done well in relation to 
                    normal functioning - such as drawing, music, computations in math’s, or memorization 
                    of facts with no regard to importance or lack of it. On the other hand, the majority 
                    of autistic persons have varying degrees of mental retardation, with only 20% having 
                    average or above-average intelligence. A person might, for example, be unable to button 
                    cloths yet be capable of intricate mathematical manipulation. Similarly, a person 
                    might be able to draw elaborate and masterly pictures but not able to master the 
                    rudiments of speech (Selfe, 1977). Autistic persons generally have difficulty in 
                    self help behaviours such as dressing, washing, using the toilet, and eating with 
                    a knife and fork. This combination of intellectual variations makes autism especially perplexing.
                </p>
            </div>
            <div class="text-container" id="development">
                <h5>VII. Uneven pattern of development</h5>
                <p>
                    Characteristics of autism include an uneven pattern of development, a fascination with 
                    mechanical objects, a ritualistic response to environmental stimuli, and a resistance to 
                    any change in the environment. Some autistic children may also have special abilities.
                </p>
            </div>
        </div>
        
    </div> <!-- end of col -->
    </div> 
</div> 

{% endblock %}
