{% extends "navbar.html" %}
{% load static %}

{% block content %}
<style>
 p,li{
     font-family: "Times New Roman", Times, serif;
     font-size: 18px;
 }
 h2,h3,h6{
     font-family: "Times New Roman", Times, serif;
 }
</style>
<div id="intro" class="basic-1">
        <h1 style="color:white; padding: 25px; background: #ff8000;text-align: center;font-family: 'Times New Roman'">Vyom Autism Self-help Foundation</h1>

    <div class="container">
        <div class="text-container">



        </div> <!-- end of text-container -->
        <br>

        <h3>Vision/Goal</h3>
        <p>Vyom is a Sanskrit word which means sky. “Vyom” also means unlimited potential. We named our foundation as Vyom –Autism Self-help as we want to explore the unlimited potential of the child, showcase it to the entire world. Our vision includes developing and bringing the best possible potential in the child.</p>
        <p>The aim of Vyom Autism Self-help foundation is providing a positive guided environment to establish the child as an independent adult. Self-help is associated with actions and interventions that a person can take on their own.</p>
        <p>In this process we empower the parents and train them to achieve our goal. We used the term “Our” because once you approach Vyom Autism self-help foundation we accept you as our family and we work like a team members in every step of the life. We are not area specific or subject specific or age specific or even special needs specific but we establish lifelong association in handling any challenge that is directly and indirectly associated in the learning process of the individual with Autism.</p>
        <br>
        <h3>What we do</h3>
        <p>Vyom Autism Self-help foundation empowers parents physically, psychologically, emotionally and spiritually. </p>
        <p>Vyom Autism Self-help foundation empowers child in developing techniques to adopt the environment and generate awareness, logical ability and wisdom.</p>
        <br>
        <h3>Motto/mission</h3>
        <p>TThe children of Autism spectrum require help at many phases and any phase of their life journey so this is the beginning and we are there for the entire life journey.</p>
        <br>
        <h3>How do Vyom Autism Self-help foundation work like</h3>
        <ul>
            <li>The team of experts provides training programs on various topics, teaching learning materials and special techniques to deal with different challenges. </li>
            <li>The experts develop Individual educational plan (IEP) according to the child needs and do the follow ups. </li>
            <li>The progress of the child is documented and monitored. The challenges analyzed and modifications are suggested.</li>
        </ul>
        <br>
        <h3>Objectives</h3>
        <ul>
            <li>To train the parents to train their child</li>
            <li>Optimization of the quality of time with their child</li>
            <li>All possible feedback on the new challenges and new scope of development</li>
            <li>Parents to be self-empowered</li>
            <li>Bring the positivity</li>
        </ul>
        <br>
        <h3>Why should we choose Vyom Autism Self-help Foundation</h3>
        <p>The team of experts had hands on experience of dealing various situations and types of children with different part of the country.
        </p>
        <p>Vyom Autism Self-help Foundation does not work on visible problem behavior but try to analyze the cause root of the behavior and work on those aspects. The core deficits are handled with reinforcement techniques.  </p>
        <br>
        <h3>How journey began and shaped and what is the connection between Leesha noble soul and Vyom Autism self-help foundation.</h3>
        <p>Journey commenced from Leesha Noblesouls with what’s app group and webinars. The team and experts are the name but new idealogy and website coming infront of you as  Vyom Autism self-help Foundation where individual plans, parents empowerment along with website with individual login as a new feature. </p>
       <br>
        <h3>What is Leesha?</h3>
        <p>Leesha is a latin word in origin which means sweet and honest. Our organization Leesha noble souls determine to connect people and their noble souls to serve the purpose of lives in their journey of autism. </p>
        <p>LeeshaNoblesouls includes all like mined individuals who have come together to make the lives
        of special needs more special. </p>
        <p>
        <b>Leeshanoblesouls</b> is a unique initiative taken in India by Mrs. Mona Goyal, Dr. Krishnaveni Achary 
        and Dr. Niranjan. 
        </p>
        <br>
        <h3>History/Story</h3>
        <p>To brief you about the history of “LeeshaNoblesouls”, it was  founded in the form of whatsapp group 
            in April 2016 by Ms. Mona Goyal. Initially the group had a few parents, one therapist Mr. Niranjan 
            and later joined by Researcher cum educator Dr. Krishnaveni Achary.
        </p>
        <p>
        The initial motive of the group includes give a platform for the parents with special needs to exchange 
        their idead, challenges, concepts, discoveries, uniques experiences they observed. Later it slowly emerged 
        not only as an ideas exchanger but also formulating and documenting the techniques that worked best for them 
        and translating the information to others who are still budding in their journey with special needs. They also 
        shared the unique techniques that helped them and journey on how creatively they invented those concerts that 
        helped in generating magical changes in their child's life.
        </p>
        <p>
        They experienced parents shared their journey and also expressed their mistakes and suggested ways how to 
        handle for the budding parents. The journey of acceptance and techniques of motivating, and also uniqueness 
        of sppreading positiThe concept was appreciated by so many parents,doctors and therapists. Thus Leesha circle 
        grew wider,the bonds became stronger.
        </p>
        <br>
{#        <h3>Some questions addressed for you:</h3>#}
{#        <ul>#}
{#            <li><h6>How do Vyom Autism Self-help work like</h6></li>#}
{#            <li><h6>Vyom Autism Self-help foundation work like a </h6></li>#}
{#            <li><h6>What is the procedure to be part of their team</h6></li>#}
{#            <li><h6>As a volunteer or student or therapist or pediatrician or researcher How can I contribute them</h6></li>#}
{#            <li><h6>I feel my child is hyperactive Can my presence in the team help me</h6></li>#}
{#            <li><h6>Still my child hasn’t diagnosed can I be part of this team</h6></li>#}
{#            <li><h6>What kind of services do I get basically being part of the team</h6></li>#}
{#            <li><h6>What future perspectives I can plan to help the child/adult in the employment opportunities?</h6></li>#}
{#            <li><h6>My child is not special child but a little naughty can Vyom Autism Self-help services help me?</h6></li>#}
{#            <li><h6>I have decided to give home schooling for my child Can you have intervention training program that can help the child in the early learning process</h6></li>#}
{#            <li><h6>Difference between parents a regular child and parenting a child autism vary</h6></li>#}
{#            <li><h6>Every child is unique within its own self. Child rearing brings new experiences to every parent. Being a parent of a child if you are teaching good manners to the child then your statement like splitting is not a good habit tukna nahi hai</h6></li>#}
{#        </ul>#}
{#        #}
    </div> <!-- end of col -->
    </div> 
</div> 

{% endblock %}
