{% extends "navbar.html" %}
{% load static %}

{% block content %}

<div id="intro" class="basic-1">
    <div class="container">
        <div class="text-container">
            <h2>ASSESSMENT OF CHILD</h2>
        </div> 
        <hr>
        <iframe src="https://docs.google.com/forms/d/1lCC5zfIkLCDRmalxc5S3VwJCOB49iv7pavoZi8J1vMw/viewform?embedded=true" 
                width="640" 
                height="805" 
                frameborder="0" 
                marginheight="0" 
                marginwidth="0">
                Loading…
        </iframe>
    </div>
    </div> 
</div> 

{% endblock %}
