{% extends "navbar.html" %}
{% load static %}

{% block content %}

<div id="intro" class="basic-1">
    <div class="container">
        <div class="text-container">
            <h2>Contact Us</h2>
        </div> 
        <hr>

        <div class="row">
            <div class="col-lg-7">
                <div class="text-container">
                    <h3>Get in touch!</h3>
                    <p>
                        <b>Have a question? Concern? Request? We’d love to hear from you.
                            <br>
                            Connect with us through the following ways.
                        </b>
                    </p>

                    <br>

                    <h5>Email:</h5>
                    <p><a href="mailto:leesha.noblesouls@gmail.com">leesha.noblesouls@gmail.com</a></p>

                    <br>

                    <h5>Phone:</h5>
                    <p>9818683793</p>

                    <br>
                    <br>

                    <h4>Facing technical difficulties?</h4>
                    <p><b>Connect with our tech team!</b></p>

                    <br>

                    <h5>Email:</h5>
                    <p><a href="mailto:leesha.noble.souls.tech@gmail.com">leesha.noble.souls.tech@gmail.com</a></p>
                </div> 
            </div>
            <div class="col-lg-5">

                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfzW1XaUXi0JBzAoEDzdVNd0i_VGcXerqYdLY5zI6l689dBFg/viewform?embedded=true" 
                        width="640" 
                        height="805" 
                        frameborder="0" 
                        marginheight="0" 
                        marginwidth="0">
                        Loading…
                </iframe>
            </div>
        </div> 
    </div>
    </div> 
</div> 


<div class="basic-2 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Looking for someone specific?</h3>
                <p class="p-heading">Reach out to out team members. Read more about them <a href="{% url 'team' %}">here</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="display: inline-block;">
                    <div class="card-body">
                        <h6 class="card-title">Mrs. Mona Goyal</h6>
                        <p class="card-subtitle">Founder, Director, Treasurer</p>
                        <br>
                        <p><b><a href="mailto:leesha.noblesouls@gmail.com" style="color: #fafaf8;">leesha.noblesouls@gmail.com</a></b></p>
                    </div>
                </div>

                <div class="card" style="display: inline-block;">
                    <div class="card-body">
                        <h6 class="card-title">Dr. Krishnaveni Achary</h6>
                        <p class="card-subtitle">Founder, Creative head</p>
                        <br>
                        <p><b><a href="mailto:krishnaveni.achary@gmail.com" style="color: #fafaf8;">krishnaveni.achary@gmail.com</a></b></p>
                    </div>
                </div>

                <div class="card" style="display: inline-block;">
                    <div class="card-body">
                        <h6 class="card-title">Dr. Niranjan</h6>
                        <p class="card-subtitle">Founder, Executive Director</p>
                        <br>
                        <p><b><a href="mailto:leesha.noblesouls@gmail.com" style="color: #fafaf8;">leesha.noblesouls@gmail.com</a></b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
