{% extends "navbar.html" %}
{% load static %}

{% block content %}

<div id="intro" class="basic-1">
    <div class="container">
        <div class="text-container">
            <h2>Contact Us</h2>
        </div> 
        <hr>

        <div class="row">
            <div class="col-lg-7">
                <div class="text-container">
                    <h3>Get in touch!</h3>
                    <p><b>Have a question? Concern? Request? We’d love to hear from you. 
                        <br>
                        Connect with us through the following ways.
                    </b></p>
                    <p>
                        9818683793
                    </p>
                    <p>
                        Leesha.noblesouls@gmail.com
                    </p>
                </div> 
            </div>
            <div class="col-lg-5">

                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfzW1XaUXi0JBzAoEDzdVNd0i_VGcXerqYdLY5zI6l689dBFg/viewform?embedded=true" 
                        width="640" 
                        height="805" 
                        frameborder="0" 
                        marginheight="0" 
                        marginwidth="0">
                        Loading…
                </iframe>
            </div>
        </div> 
        
    </div>
    </div> 
</div> 

{% endblock %}
