{% extends "navbar.html" %}
{% load static %}

{% block content %}
<style>
    h3,h6,h1{font-family: "Times New Roman", Times, serif}
    p{
        font-size: 17px;
    }
</style>


<div id="intro" class="basic-1">
        <h1 style="color:white; padding: 25px; background: #ff8000;text-align: center;">Meet The Team</h1>

    <div class="container">


        <div class="text-container">
{#            <h2>Meet The Team</h2>#}
        </div> <!-- end of text-container -->


        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="text-container">
                    <h3>Dr. Krishnaveni Achary</h3>
{#                    <h6>Founder, Creative head</h6>#}
                    <p>
                        She is a certified Autism trainer with more than a decade of experience dealing 
                        with mild, moderate, and severe levels of children. She is a PhD Holder from Delhi 
                        university with a specialization in Autism. She has vast experience dealing with 
                        children, teenagers, and adults with Autism and NDD. She associates and works for 
                        bringing the attitudinal difference on the core difficulties like the theory of mind 
                        deficits through play therapy. Training through technology innovation and vocational 
                        skills are also her areas of expertise. 
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/team_krishnaveni1.png' %}" alt="alternative" width="250" height="250">
                </div>
            </div>
        </div>
        <br>

        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="text-container">
                    <h3>Mr. Niranjan Kumar</h3>
{#                    <h6>Founder, Executive Director</h6>#}
                    <p>
                        He is a 22 years experienced speech therapist with specialization in speech language 
                        assessment and therapeutic intervention for children with Autism, down syndrome, global development
                        delay, apraxia, cerebral palsy, fluency disorder, articulation disorder. He also empowers parents with
                        teaching tools and training for the children with Special needs along with one to one therapies for
                        children at his centre Darpan : An image of Innocence.
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/niranjan.png' %}" alt="alternative" width="250" height="250">
                </div>
            </div>
        </div>
        <br>
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="text-container">
                    <h3>Mrs. Mona Goyal</h3>
{#                    <h6>Founder, Director, Treasurer</h6>#}
                    <p>
                        She is the face of LeeshaNoblesouls whose experience as a mother leads
                        to a greater ability to develop vision and wisdom. She is empathetic and
                        highly energetic with greater communication abilities. She is qualified
                        in MBA and works in an organized sector with greater organization skills
                        in her life. She would always prefer to be recognized as Vyoms mother rather
                        than Mona Goyal as she is a proud mother in training him at every path of his
                        life. She acts as a guide, volunteer, and counselor for the parents' training
                        program and also a key role as a communicator of the information.
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/team_mona1.png' %}" alt="alternative" width="250" height="250">
                </div>
            </div>
        </div>
        <br>

    </div> <!-- end of col -->
    </div> 
</div>




    <div id="intro" class="basic-1">
        <h1 style="color:white; padding: 25px; background: #ff8000;text-align: center;">Volunteers</h1>

    <div class="container">


        <div class="text-container">
{#            <h2>Meet The Team</h2>#}
        </div> <!-- end of text-container -->


        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="text-container">
                    <h3>Sreedivya</h3>
{#                    <h6>Founder, Creative head</h6>#}
                    <p>
                        She is studying in class VI at Adarsh public school, New Delhi. She observed children with autism and special needs many times along with her mother in the special school. She played, interacted and had many friends. During the lockdown she volunteered with her mother and helped in creating videos on the training programs. She feels it is a privilege to volunteer to be part of the videos and Leesha noble souls group and Vyom Autism Self-help foundation.
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/sreedivya.png' %}" alt="alternative" width="250" height="250">
                </div>
            </div>
        </div>
        <br>

        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="text-container">
                    <h3>Sreekavya</h3>
{#                    <h6>Founder, Executive Director</h6>#}
                    <p>
                        She is studying in class XI at Adarsh public school, New Delhi. She observed children with autism and special needs many times along with her mother in the special school. During the lockdown she volunteered with her mother and helped in creating videos on the training programs. She helped with editing and necessary technical support. She feels it is a privilege to volunteer to be part of the videos and Leesha noble souls group and Vyom Autism Self-help foundation.
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/sreekavya.png' %}" alt="alternative" width="250" height="250">
                </div>
            </div>
        </div>
        <br>

        <br>


    </div> <!-- end of col -->
    </div>
</div>



    <div class="basic-2 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Looking for someone specific?</h3>
                <p class="p-heading">Reach out to out team members.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="display: inline-block;">
                    <div class="card-body">
                        <h6 class="card-title">Mrs. Mona Goyal</h6>
                        <p class="card-subtitle">Founder, Director, Treasurer</p>
                        <br>
                        <p><b><a href="mailto:leesha.noblesouls@gmail.com" style="color: #fafaf8;">leesha.noblesouls@gmail.com</a></b></p>
                    </div>
                </div>

                <div class="card" style="display: inline-block;">
                    <div class="card-body">
                        <h6 class="card-title">Dr. Krishnaveni Achary</h6>
                        <p class="card-subtitle">Founder, Creative head</p>
                        <br>
                        <p><b><a href="mailto:krishnaveni.achary@gmail.com" style="color: #fafaf8;">krishnaveni.achary@gmail.com</a></b></p>
                    </div>
                </div>

                <div class="card" style="display: inline-block;">
                    <div class="card-body">
                        <h6 class="card-title">Mr. Niranjan Kumar</h6>
                        <p class="card-subtitle">Founder, Executive Director</p>
                        <br>
                        <p><b><a href="mailto:leesha.noblesouls@gmail.com" style="color: #fafaf8;">leesha.noblesouls@gmail.com</a></b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
