{% extends "navbar.html" %}
{% load static %}

{% block content %}

<div id="intro" class="basic-1">
    <div class="container">
        <div class="text-container">
            <h2>Meet The Team</h2>
        </div> <!-- end of text-container -->
        <hr>

        <h3>Mona Goyal</h3>
        <h6>Founder, Director, Treasurer</h6>
        <p>
            She is the face of LeeshaNoblesouls whose experience as a mother leads 
            to a greater ability to develop vision and wisdom. She is empathetic and 
            highly energetic with greater communication abilities. She is qualified 
            in MBA and works in an organized sector with greater organization skills 
            in her life. She would always prefer to be recognized as Vyoms mother rather 
            than Mona Goyal as she is a proud mother in training him at every path of his 
            life. She acts as a guide, volunteer, and counselor for the parents' training 
            program and also a key role as a communicator of the information. 
        </p>

        <br>

        <h3>Dr. Krishnaveni Achary</h3>
        <h6>Founder, Creative head</h6>
        <p>
            She is a certified Autism trainer with more than a decade of experience dealing 
            with mild, moderate, and severe levels of children. She is a PhD Holder from Delhi 
            university with a specialization in Autism. She has vast experience dealing with 
            children, teenagers, and adults with Autism and NDD. She associates and works for 
            bringing the attitudinal difference on the core difficulties like the theory of mind 
            deficits through play therapy. Training through technology innovation and vocational 
            skills are also her areas of expertise. 
        </p>

        <br>

        <h3>Dr. Niranjan Kumar</h3>
        <h6>Founder, Executive Director</h6>
        <p>
            He is a 22 years experienced speech therapist with specialization in speech language 
            assessment and therapeutic intervention for children with Autism, down syndrome, global development
            delay, apraxia, cerebral palsy, fluency disorder, articulation disorder. He also empowers parents with
            teaching tools and training for the children with Special needs along with one to one therapies for
            children at his centre Darpan : An image of Innocence.
        </p>
        
    </div> <!-- end of col -->
    </div> 
</div> 

{% endblock %}
