{% extends "navbar.html" %}
{% load static %}

{% block content %}

<div id="intro" class="basic-1">
    <div class="container">
        <div class="text-container">
            <h2>Testimonials</h2>
        </div> <!-- end of text-container -->
        <hr>

        <h4>"... it is like a supportive treatment ..."</h4>
        <p><i>There is lot of stuff but videos by LeeshaNobleSouls 
            provide us knowledge  in a particular direction  and in well organized  manner - it is like 
            a supportive treatment. Without it, the main treatment will not achieve its true cause.</i>
        </p>
        <p><b>- Ms. Apeksha</b></p>

        <br>

        <h4>"... as a parent it gives me hope ..."</h4>
        <p><i>Having a child with special needs 
            is a challenge in itself…This place has been a godsend. The activities help my child gets here 
            is not only helpful to her, but as a parent it gives me hope to deal with people who are always 
            looking for their good qualities and seem to enjoy their personality. These leesha group activities, 
            given by LeeshaNobleSouls and the team are unique and very useful for us. </i>
        </p>
        <p><b>- Ms. Rupinder Kaur</b></p>

        <br>

        <h4>"... any difficulty I shared, I got a solution ..."</h4>
        <p><i>As an anxious mom I have been very confused and worried for my daughter's 
            future. Leesha nobel is one therapist where I found the answer. 
            With God's grace I came across Mona Mam and with any difficulty I shared, I got a solution. In very simple day 
            to day activities, how to get involved with the child and what activities will help for any kind of her issues. 
            Not only for my child but she has been a great support for me. The most important thing that I learned from her 
            was to have affirmation in myslef and in my child. Every month when I see the difference and progress in my child, 
            I know she is in the right hand.</i>
        </p>
        <p><b>- Ms. Sana</b></p>

        <br>

        <h4>"... easily reach with our problems and get answers ..."</h4>
        <p><i>Leesha group is one to one therapy group. We can easily reach with 
            our problems and get answers. Their therapy is something you will not find anywhere. Very nice mentors.</i>
        </p>
        <p><b>- Dr. Shakha</b></p>

         <br>

        <h4>"... facilitating such a content that is not available ..."</h4>
        <p><i>Leesha group and Vyom Autism Foundation working with children aiding their teaching learning experiences. It is facilitating such a content that is not available anywhere on the internet.  I am proud to be part of the team.</i>
        </p>
        <p><b>- Ms. Suman Lakra</b></p>

         <br>

        <h4>"... support they are providing to the parents ..."</h4>
        <p><i>As a mother of a special child I liked the kind of support they are providing to the parents. I wish them a great success.</i>
        </p>
        <p><b>- Jayashree</b></p>

         <br>

        <h4>"... degree will give me the complete understanding ..."</h4>
        <p><i>I joined in B.Ed –Special Education thinking that the degree will give me the complete understanding. But so much lag in the application process with my son with Autism. I am fortunate to meet Dr. Krishnaveni who guided me with her deeper insights and individual plans. Thankful to all the team members for mentoring me in all challenges and directions they provide.</i>
        </p>
        <p><b>- Mrs. Deepika</b></p>
    </div> <!-- end of col -->
    </div> 
</div> 

{% endblock %}
