{% extends "navbar.html" %}
{% load static %}

{% block content %}

<div id="intro" class="basic-1">
    <div class="container">
        <div class="text-container">
            <div>
                <h3>WEBINARS</h3>
                <hr>
                <h3>1. How to introduce EVS concepts to kids with Autism (Hindi)</h3>
                <div class="embed-responsive embed-responsive-16by9 col-lg-5">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WtMCIDi9y4k" allowfullscreen></iframe>
                </div>
                <br>
                <h3>2. How to engage children with Autism  positively during Pandemic</h3>
                <div class="embed-responsive embed-responsive-16by9 col-lg-5">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WuRyVMw6qTY" allowfullscreen></iframe>
                </div>
                <br>
                <h3>3. Webinar on Joint Attention, Eye Gaze and Sustained Attention</h3>
                <div class="embed-responsive embed-responsive-16by9 col-lg-5">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/O1ORI4QfAGs" allowfullscreen></iframe>
                </div>
                <br>
                <h3>4. Rapport and Trust Building webinar (Hindi)</h3>
                <div class="embed-responsive embed-responsive-16by9 col-lg-5">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gap7or4h6YI" allowfullscreen></iframe>
                </div>
                <br>
                <h3>5. Role of Play Therapy in Autism - Part 2 (Hindi)</h3>
                <div class="embed-responsive embed-responsive-16by9 col-lg-5">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ht1sPpp8HOo" allowfullscreen></iframe>
                </div>
                </div>
        </div>
    </div> 
</div> 

{% endblock %}