{% extends "navbar.html" %}
{% load static %}

{% block content %}
<!-- Services -->
    <div id="services" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <br><br><br>
{#                    <h2>WEBINARS</h2>#}
                    <h1 style="color:white; padding: 10px; background: #ff8000;text-align: center;">WEBINARS</h1>
                    <br><br>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

{#                    <!-- Card -->#}
{#                    <div class="card">#}
{#                        <div class="card-image">#}
{#                            <img class="img-fluid" src="images/services-1.jpg" alt="alternative">#}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            <h3 class="card-title">Off The Ground Off The Ground</h3>#}
{#                            <p>Perfect for fresh ideas or young startups, this package will help get the business off the ground</p>#}
{#                            <ul class="list-unstyled li-space-lg">#}
{#                                <li class="media">#}
{#                                    <i class="fas fa-square"></i>#}
{#                                    <div class="media-body">Environment and competition</div>#}
{#                                </li>#}
{#                                <li class="media">#}
{#                                    <i class="fas fa-square"></i>#}
{#                                    <div class="media-body">Designing the marketing plan</div>#}
{#                                </li>#}
{#                            </ul>#}
{#                            <p class="price">Starting at <span>$199</span></p>#}
{#                        </div>#}
{#                        <div class="button-container">#}
{#                            <a class="btn-solid-reg page-scroll" href="#callMe">DETAILS</a>#}
{#                        </div> <!-- end of button-container -->#}
{#                    </div>#}
{#                    <!-- end of card -->#}

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-fluid" src="images/services-2.jpg" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Accelerated Growth</h3>
                            <p>Use this service pack to give your company the necessary impulse to become an industry leader</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Business strategy planning</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Taking the planned actions</div>
                                </li>
                            </ul>
                            <p class="price">Starting at <span>$299</span></p>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#callMe">DETAILS</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-image embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WtMCIDi9y4k" allowfullscreen></iframe>
                        </div>
                        <div class="card-body">
                            <h3>Market Domination</h3>
                            <p>You already are a reference point in your industry now you need to learn about acquisitions</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Maintaining the leader status</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">Acquisitions the right way</div>
                                </li>
                            </ul>
                            <p class="price">Starting at <span>$299</span></p>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="#callMe">DETAILS</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                     <!-- Card -->
                    <div class="card">
                        <div class="card-image embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WtMCIDi9y4k" allowfullscreen></iframe>
                        </div>
                        <div class="card-body">
                            <h3>How to introduce EVS concepts to kids with Autism (Hindi)</h3>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of services -->
<div id="intro" class="basic-1">
    <div class="container">
        <div class="text-container">
            <div>
                <h3>WEBINARS</h3>
                <hr>
                <h3>1. How to introduce EVS concepts to kids with Autism (Hindi)</h3>
                <div class="embed-responsive embed-responsive-16by9 col-lg-5">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WtMCIDi9y4k" allowfullscreen></iframe>
                </div>
                <br>
                <h3>2. How to engage children with Autism  positively during Pandemic</h3>
                <div class="embed-responsive embed-responsive-16by9 col-lg-5">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WuRyVMw6qTY" allowfullscreen></iframe>
                </div>
                <br>
                <h3>3. Webinar on Joint Attention, Eye Gaze and Sustained Attention</h3>
                <div class="embed-responsive embed-responsive-16by9 col-lg-5">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/O1ORI4QfAGs" allowfullscreen></iframe>
                </div>
                <br>
                <h3>4. Rapport and Trust Building webinar (Hindi)</h3>
                <div class="embed-responsive embed-responsive-16by9 col-lg-5">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gap7or4h6YI" allowfullscreen></iframe>
                </div>
                <br>
                <h3>5. Role of Play Therapy in Autism - Part 2 (Hindi)</h3>
                <div class="embed-responsive embed-responsive-16by9 col-lg-5">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ht1sPpp8HOo" allowfullscreen></iframe>
                </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}
