{% extends "navbar.html" %}
{% load static %}

{% block content %}
<style>
@import url("https://fonts.googleapis.com/css?family=Karla|Space+Mono");

:root {
  --contentHeight: 30vh;
  --sectionWidth: 700px;
}

* {
  outline: 0;
  box-sizing: border-box;
}

{#body {#}
{#  background-color: #000;#}
{#}#}

section {
  max-width: var(--sectionWidth);
  margin: 40px auto;
  width: 97%;
  color: #1167b1;
}

summary {
  display: block;
  cursor: pointer;
  padding: 10px;
  {#font-family: "Space Mono", monospace;#}
    font-family: "Times New Roman";
  font-size: 22px;
  transition: .3s;
  border-bottom: 2px solid;
  user-select: none;
    font-weight: bold;
}

details > div {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
  user-select: none;
  padding: 0 20px;
  font-family: "Times New Roman";
  line-height: 1.5;
    font-size: 20px;
}

details > div > img {
  align-self: flex-start;
  max-width: 100%;
  margin-top: 20px;
}

details > div > p {
  flex: 1;
}

details[open] > summary {
   color: #ff8000;
}

@media (min-width: 768px) {
  details[open] > div > p {
    opacity: 0;
    animation-name: showContent;
    animation-duration: 0.6s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    margin: 0;
    padding-left: 20px;
  }

  details[open] > div {
    animation-name: slideDown;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  details[open] > div > img {
    opacity: 0;
    height: 100%;
    margin: 0;
    animation-name: showImage;
    animation-duration: 0.3s;
    animation-delay: 0.15s;
    animation-fill-mode: forwards;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    height: 0;
    padding: 0;
  }

  to {
    opacity: 1;
    height: var(--contentHeight);
    padding: 20px;
  }
}

@keyframes showImage {
  from {
    opacity: 0;
    clip-path: inset(50% 0 50% 0);
    transform: scale(0.4);
  }

  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

</style>

<div id="intro" class="basic-1">
    <h1 style="color:white; padding: 25px; background: #ff8000;text-align: center;font-family: 'Times New Roman'">Major Areas At A Glance</h1>

    <div class="container">

        <div class="text-container">

{#            <section>#}
{#  <details open>#}
{#    <summary>Carl Gustav Jung</summary>#}
{#    <div>#}
{#      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/344846/_jung.jpg" />#}
{#      <p>The Swiss psychologist and psychiatrist Carl Jung was one of the major forces responsible for bringing psychological (having to do with the mind and its processes) thought and its theories into the twentieth century.</p>#}
{#    </div>#}
{#  </details>#}
{#  <details>#}
{#    <summary>Sigmund Freud</summary>#}
{#    <div>#}
{#      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/344846/_freud.jpg" />#}
{#      <p>The work of Sigmund Freud, the Austrian founder of psychoanalysis, marked the beginning of a modern, dynamic psychology by providing the first well-organized explanation of the inner mental forces determining human behavior.</p>#}
{#    </div>#}
{#  </details>#}
{#  <details>#}
{#    <summary>Alfred Adler</summary>#}
{#    <div>#}
{#      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/344846/_alfred.jpg" />#}
{#      <p>Austrian psychiatrist Alfred Adler was credited with developing several important theories on the motivation of human behavior. He founded the school of individual psychology, a comprehensive "science of living" that focuses on the uniqueness of the individual#}
{#        and a person's relationships with society.</p>#}
{#    </div>#}
{#  </details>#}
{#</section>#}

{#            <h2>Major Areas at a glance</h2>#}
{#            <hr>#}

            <section>
  <details open>
    <summary>1. ADL</summary>
    <div>
      <ul type="square">
                        <li> Toilet Training</li>
                        <li> Brushing</li>
                        <li> Bathing</li>
                        <li> Self eating</li>
                        <li> Buttoning</li>
                        <li> Dressing</li>
                        <li> Combing</li>
                        <li> Teaching Safety Rules</li>
                        <li> Pouring</li>
                        <li> Serving</li>
                        <li> Cooking</li>
                        <li> Cutting Skills</li>
      </ul>
    </div>
  </details>

  <details>
    <summary>2. Receptive Communication</summary>
    <div>
         <ul type="None">
                        <li>Basic Communication</li>
                        <ul type="square">
                            <li> Recognition of Family Members</li>
                            <li> Command Following</li>
                            <li> WH Questions Understanding</li>
                            <li> Identification of Object</li>
                            <li> Functions of Object</li>
                            <li> Understanding the real meaning of Instruction</li>
                        </ul>
                        <br>
                        <li>Advanced Communication</li>
                        <ul type="square">
                            <li> Understanding Sarcasms</li>
                            <li> Understanding of Jokes</li>
                            <li> Understanding of Story</li>
                            <li> Understanding of Carton</li>
                            <li> Understanding of Movie</li>
                            <li> Comprehension</li>
                        </ul>
         </ul>
    </div>
  </details>

    <details>
    <summary>3. Expressive Communication</summary>
    <div>
        <ul type="None">
                        <li>Verbal and Non Verbal</li>
                        <ul type="square">
                            <li> Pointing</li>
                            <li> Understanding Gestures</li>
                            <li> Picture Composition</li>
                            <li> Vocalisation</li>
                            <li> Babbling</li>
                            <li> Crying</li>
                            <li> Using Action words</li>
                            <li> Naming object/ Persons / Pictures</li>
                            <li> Rhymes and songs</li>
                            <li> Conjunctions</li>
                            <li> Prepositions</li>
                            <li> Pronoun</li>
                            <li> Narrating a story</li>
                            <li> Comprehension</li>
                            <li> Responding to questions</li>
                            <li> Asking questions</li>
                        </ul>
                        <br>
                    </ul>
    </div>
  </details>

   <details>
    <summary>4. Socialization</summary>
    <div>
         <ul type="square">
                        <li> Interaction with Peer Group</li>
                        <li> Interaction with Non-Peer Group</li>
                        <li> Interaction with Siblings</li>
                        <li> Interaction with Strangers</li>
                        <li> Social Norms (Hi, Bye , Good Morning etc)</li>
                        <li> Involvement with guest at Home</li>
                        <li> Interaction with Parents/Educators/ Friends</li>
                    </ul>
    </div>
  </details>

 <details>
    <summary>5. Behaviour Issues</summary>
    <div>
             <ul type="None">
                        <li> Challenging Behaviour</li>

                        <ul type="square">
                            <li> Hitting others</li>
                            <li> Biting others</li>
                            <li> Spitting</li>
                            <li> Unable to follow up safety rules</li>
                            <li> Nail Biting</li>
                            <li> Pushing others</li>
                            <li> Throwing Objects</li>
                            <li> Climbing up the Top/ Jumping from the top</li>
                            <li> Grinding Teeth</li>
                            <li> Toe Walking</li>
                            <li> Hand Flapping</li>
                            <li> Sitting Tolerance</li>
                            <li> Producing Unusual sounds with hands, mouth, objects</li>
                        </ul>
                        <br>
                        <li> Self Injury Behaviour</li>
                        <ul type="square">
                            <li> Head Banging on the floor</li>
                            <li> Head Banging on the wall/ Table</li>
                            <li> Self hitting with other objects/ with hands</li>
                            <li> Self Biting</li>
                            <li> Scratching own injuries/ Wounds</li>
                            <li> Pulling hair</li>
                        </ul>
                        <br>
                    </ul>
    </div>
  </details>

<details>
    <summary>6. Academics</summary>
    <div>
        <ul type="square">
                        <li> Introduction of Fruits / Vegetables</li>
                        <li> Introduction of means of Transport</li>
                        <li> Introduction of kitchen, bathroom and drawing room articles</li>
                        <li> Colour Recognition</li>
                        <li> Introduction of Alphabets</li>
                        <li> Introduction of Phonics</li>
                        <li> Value Counting</li>
                        <li> Sight Words</li>
                        <li> Essay Writing</li>
                        <li> Comprehension</li>
                        <li> EVS concepts</li>
                        <li> Comprehension</li>
                        <li> Time Concept</li>
                        <li> Money Concept</li>
                        <li> Number Concept</li>
                        <li> Word Formation</li>
                        <li> Pre-Writing skills</li>
                    </ul>
    </div>
  </details>

    <details>
    <summary>7. Sensory Issues</summary>

  </details>

   <details>
    <summary>8. Introducing Games to Kids</summary>
  </details>

   <details>
    <summary>9.  Picture Schedule (PECS)</summary>
  </details>

   <details>
    <summary>10. Flash card Making</summary>
  </details>

     <details>
    <summary>11. Story Creation</summary>
  </details>

     <details>
    <summary>12. Eye Gaze, Joint Attention and Sustained Attention</summary>
  </details>

<details>
    <summary>13. Leisure Time Management</summary>
  </details>

<details>
    <summary>14. Brain and Visual Skills Improvement </summary>
  </details>
     <details>
    <summary>15. Reasoning Skills</summary>
    <div>
        <ul type="square">
                        <li> Matching</li>
                        <li> Sorting</li>
                        <li> Puzzle Solving</li>
                        <li> Teaching cause and effect relationship</li>
                        <li> Guessing game</li>
                        <li> Go creative with blocks</li>
                        <li> Inspire thinking</li>
                    </ul>
    </div>
  </details>

   <details>
       <summary>16. Logical Skills</summary>
       <div>
         <ul type="square">
                        <li> Patterns</li>
                        <li> Sequencing</li>
                    </ul>
       </div>
   </details>

    <details>
       <summary>17. Recreational Activities</summary>
        <div>
              <ul type="square">
                        <li> Art and Craft</li>
                        <li> Dance</li>
                        <li> Singing</li>
                        <li> Photography</li>
                        <li> Nature walk</li>
                        <li> Sightseeing</li>
                        <li> Cycling</li>
                        <li> Gardening</li>
                        <li> Painting</li>
                        <li> Greeting Making</li>
                        <li> Going to party / Restaurant/ Mall</li>
                    </ul>
        </div>
   </details>

    <details>
       <summary>18. Prompt and Reinforcement</summary>
   </details>

     <details>
       <summary>19. Theory of Deficit mind</summary>
   </details>

     <details>
       <summary>20. Teaching Emotions</summary>
   </details>

</section>

        </div>
    </div> 
</div> 



{% endblock %}
