{% extends "navbar.html" %}
{% load static %}

{% block content %}

<div id="intro" class="basic-1">
    <div class="container">
        <div class="text-container">
            <h2>Major Areas at a glance</h2>
            <hr>
            <ol type="I">
                <h3>
                    <li>ADL</li>
                    <ul type="square">
                        <li> Toilet Training</li>
                        <li> Brushing</li>
                        <li> Bathing</li>
                        <li> Self eating</li>
                        <li> Buttoning</li>
                        <li> Dressing</li>
                        <li> Combing</li>
                        <li> Teaching Safety Rules</li>
                        <li> Pouring</li>
                        <li> Serving</li>
                        <li> Cooking</li>
                        <li> Cutting Skills</li>
                    </ul>
                    <br>
                    <li>Receptive Communication</li>
                    <br>
                    <ul type="None">
                        <li>Basic Communication</li>
                        <ul type="square">
                            <li> Recognition of Family Members</li>
                            <li> Command Following</li>
                            <li> WH Questions Understanding</li>
                            <li> Identification of Object</li>
                            <li> Functions of Object</li>
                            <li> Understanding the real meaning of Instruction</li>
                        </ul>
                        <br>
                        <li>Advanced Communication</li>
                        <ul type="square">
                            <li> Understanding Sarcasms</li>
                            <li> Understanding of Jokes</li>
                            <li> Understanding of Story</li>
                            <li> Understanding of Carton</li>
                            <li> Understanding of Movie</li>
                            <li> Comprehension</li>
                        </ul>
                    </ul>
                    <br>
                    <li>Expressive Communication</li>
                    <br>
                    <ul type="None">
                        <li>Verbal and Non Verbal</li>
                        <ul type="square">
                            <li> Pointing</li>
                            <li> Understanding Gestures</li>
                            <li> Picture Composition</li>
                            <li> Vocalisation</li>
                            <li> Babbling</li>
                            <li> Crying</li>
                            <li> Using Action words</li>
                            <li> Naming object/ Persons / Pictures</li>
                            <li> Rhymes and songs</li>
                            <li> Conjunctions</li>
                            <li> Prepositions</li>
                            <li> Pronoun</li>
                            <li> Narrating a story</li>
                            <li> Comprehension</li>
                            <li> Responding to questions</li>
                            <li> Asking questions</li>
                        </ul>
                        <br>
                    </ul>
                    <li> Socialization</li>
                    <ul type="square">
                        <li> Interaction with Peer Group</li>
                        <li> Interaction with Non-Peer Group</li>
                        <li> Interaction with Siblings</li>
                        <li> Interaction with Strangers</li>
                        <li> Social Norms (Hi, Bye , Good Morning etc)</li>
                        <li> Involvement with guest at Home</li>
                        <li> Interaction with Parents/Educators/ Friends</li>
                    </ul>
                    <br>
                    <li> Behaviour Issues</li>
                    <br>
                    <ul type="None">
                        <li> Challenging Behaviour</li>
                    
                        <ul type="square">
                            <li> Hitting others</li>
                            <li> Biting others</li>
                            <li> Spitting</li>
                            <li> Unable to follow up safety rules</li>
                            <li> Nail Biting</li>
                            <li> Pushing others</li>
                            <li> Throwing Objects</li>
                            <li> Climbing up the Top/ Jumping from the top</li>
                            <li> Grinding Teeth</li>
                            <li> Toe Walking</li>
                            <li> Hand Flapping</li>
                            <li> Sitting Tolerance</li>
                            <li> Producing Unusual sounds with hands, mouth, objects</li>
                        </ul>
                        <br>
                        <li> Self Injury Behaviour</li>
                        <ul type="square">
                            <li> Head Banging on the floor</li>
                            <li> Head Banging on the wall/ Table</li>
                            <li> Self hitting with other objects/ with hands</li>
                            <li> Self Biting</li>
                            <li> Scratching own injuries/ Wounds</li>
                            <li> Pulling hair</li>
                        </ul>
                        <br>
                    </ul>
                    <li> Academics</li>
                    <ul type="square">
                        <li> Introduction of Fruits / Vegetables</li>
                        <li> Introduction of means of Transport</li>
                        <li> Introduction of kitchen, bathroom and drawing room articles</li>
                        <li> Colour Recognition</li>
                        <li> Introduction of Alphabets</li>
                        <li> Introduction of Phonics</li>
                        <li> Value Counting</li>
                        <li> Sight Words</li>
                        <li> Essay Writing</li>
                        <li> Comprehension</li>
                        <li> EVS concepts</li>
                        <li> Comprehension</li>
                        <li> Time Concept</li>
                        <li> Money Concept</li>
                        <li> Number Concept</li>
                        <li> Word Formation</li>
                        <li> Pre-Writing skills</li>
                    </ul>
                    <br>
                    <li> Sensory Issues</li><br>
                    <li> Introducing Games to Kids</li><br>
                    <li> Picture Schedule (PECS)</li><br>
                    <li> Flash card Making</li><br>
                    <li> Story Creation</li><br>
                    <li> Eye Gaze, Joint Attention and Sustained Attention</li><br>
                    <li> Leisure Time Management</li><br>
                    <li> Brain and Visual Skills Improvement</li><br>
                    <li> Reasoning Skills</li>
                    <ul type="square">
                        <li> Matching</li>
                        <li> Sorting</li>
                        <li> Puzzle Solving</li>
                        <li> Teaching cause and effect relationship</li>
                        <li> Guessing game</li>
                        <li> Go creative with blocks</li>
                        <li> Inspire thinking</li>
                    </ul>
                    <br>
                    <li> Logical Skills</li>
                    <ul type="square">
                        <li> Patterns</li>
                        <li> Sequencing</li>
                    </ul>
                    <br>
                    <li> Recreational Activities</li>
                    <ul type="square">
                        <li> Art and Craft</li>
                        <li> Dance</li>
                        <li> Singing</li>
                        <li> Photography</li>
                        <li> Nature walk</li>
                        <li> Sightseeing</li>
                        <li> Cycling</li>
                        <li> Gardening</li>
                        <li> Painting</li>
                        <li> Greeting Making</li>
                        <li> Going to party / Restaurant/ Mall</li>
                    </ul>
                    <br>
                    <li> Prompt and Reinforcement</li><br>
                    <li> Theory of Deficit mind</li><br>
                    <li> Teaching Emotions</li><br>

                </h3>
            </ol>
                
        </div>
    </div> 
</div> 



{% endblock %}