{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Vyom Autism Self-help</title>
    <link rel="icon" href="{% static 'images/logo.png' %}">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
	<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,800;0,900;1,700&display=swap" rel="stylesheet">

</head>
<style>
    li,h4{
        font-family: "Times New Roman";
    }
</style>
<body data-spy="scroll" data-target=".fixed-top">

  {% block navbar %} {% endblock %}
  {% block content %} {% endblock %}


   <!-- Footer -->
    <div class="footer" style="background-color: #1167b1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 align-items-start">
                    <div class="text-container" style="margin-right: 90px">
                        <h4>About Vyom Autism Self-help Foundation</h4>
                        <p class="white">The aim of Vyom Autism Self-help foundation is providing a positive guided environment to establish the child as an independent adult. Vyom Autism Self-help foundation empowers parents physically, psychologically, emotionally and spiritually.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Terms & Conditions</h4>
                        <ul class="list-unstyled li-space-lg white">

                            <li>
                                <a class="white" href={% url 'termsconditions' %}>Terms & Conditions</a>
                            </li>
                            <li>
                                <a class="white" href="{% url 'privacypolicy' %}">Privacy Policy</a>
                            </li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Important Links</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a class="white" href="{% url 'about' %}">About Vyom</a>
                            </li>
                            <li>
                               <a class="white" href="{% url 'autism' %}">About Autism</a>
                            </li>
                            <li>
                               <a class="white" href="{% url 'team' %}">Meet Our Team</a>
                            </li>
                            <li>
                               <a class="white" href="{% url 'onlineTraining' %}">Trainings</a>
                            </li>

                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-md-2">
                    <div class="text-container">
                        <h4>Follow us</h4>
                        <ul class="list-unstyled li-space-lg">
                            <li>
                                <a href="https://www.facebook.com/people/Vyom-Vyom/100075181011384/" class="fa fa-facebook" style="background: #3B5998;font-size:24px;color: white"></a>

                                <a style="padding-right: 20px"></a>
                                 <a href="https://www.youtube.com/channel/UCMnzawls9UKaBAAutr7iQyg" class="fa fa-youtube" style="background: #3B5998;color: white;font-size:24px"  style="font-size:24px"></a>
                            </li>

                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright" style="background-color: #1167b1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Copyright © 2021 <a href="https://www.vyom-autismselfhelp.com/">Vyom Autism Self-help Foundation</a></p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->

  <script src="{% static 'js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
  <script src="{% static 'js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
{#  <script src="static/js/bootstrap.min.js"></script>#}
  <script src="{% static 'js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
  <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
  <script src="{% static 'js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
  <script src="{% static 'js/morphext.min.js' %}"></script> <!-- Morphtext rotating text in the header -->
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script> <!-- Isotope for filter -->
  <script src="{% static 'js/validator.min.js' %}"></script> 
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="https://kit.fontawesome.com/a979c3fc1e.js" crossorigin="anonymous"></script>
</body>
</html>
