{% extends "base.html" %}
{% load static %}

{% block navbar %}

<style>
    .navbar a{
        font-family: "Times New Roman";
        font-size: 15px;
    }


</style>
<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-custom fixed-top" style="padding-left: 20px">

    <!-- Image Logo -->
        <a  href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="alternative" height="70rem" width="70rem" ></a>
    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <!-- end of mobile menu toggle button -->
    <p></p>
    <p style="font-family:'Times New Roman';font-style: italic ;font-weight:800;color: white"><br><b>Vyom</b><br><br>Autism<br><br>Selfhelp</p>

{#    <div class="collapse navbar-collapse">#}
{#        <div class="nav-item" style="font-family: 'sans-serif'">#}
{#            <a class="nav-link page-scroll" href="{% url 'home' %}" style="font-family: cursive;font-size: large"><b>Vyom</b><br><br>Autism<br><br>Selfhelp</a>#}
{##}
{#        <p><b><a class="nav-link page-scroll" href="{% url 'home' %}">Vyom Autism Self-help Foundation</a></b></p>#}
{#        </div>#}


        <ul class="navbar-nav ml-auto nav-pills">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'home' %}">HOME</a>
            </li>

            <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'autism' %}">ABOUT AUTISM</a>
            </li>

            <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'webinar' %}">WEBINARS</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'dashboard:dashboard' %}">DASHBOARD</a>
            </li>
            {% endif %}


            <!-- Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">TRAINING</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'onlineTraining' %}"><span class="item-text">ONLINE TRAINING</span></a>
                    <div class="dropdown-items-divide-hr"></div>
                    <a class="dropdown-item" href="{% url 'shortCourse' %}"><span class="item-text">SHORT COURSE</span></a>
                </div>
            </li>
            <!-- end of dropdown menu -->

            <!-- <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'about' %}">ABOUT</a>
            </li> -->

            <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'team' %}">ABOUT US</a>
            </li>

            <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'work_areas' %}">AREAS WE WORK</a>
            </li>




            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">HOW IT WORKS</span></a>
                    <div class="dropdown-items-divide-hr"></div>
                    <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">SCREENING</span></a>
                    <div class="dropdown-items-divide-hr"></div>
                    <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">LESSON PLANS</span></a>
                </div>
            </li> -->

            <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'assessment'%}">ASSESSMENT OF CHILD</a>
            </li>

            <li class="nav-item" >
                <a class="nav-link page-scroll" href="{% url 'contact'%}">CONTACT</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'logout'%}">SIGN OUT</a>
            </li>
            {% else %}
            <!-- <li class="nav-item">
                <a class="nav-link page-scroll" href="#projects">REGISTER</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link page-scroll" href="{% url 'login'%}">SIGN IN</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>


{% endblock %}
