{% extends "navbar.html" %}
{% load static %}

{% block content %}

    <!-- Intro -->
    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>{{ lessonPlan.topic }}</h2>
                        <p><b>Aim: </b> {{ lessonPlan.aim }}</p>
                        <p><b>Objectives: </b> {{ lessonPlan.objectives }}</p>
                        <p> {{ lessonPlan.activity }} </p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="embed-responsive embed-responsive-16by9">
                        <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YtvP5A5OHpU" allowfullscreen></iframe> -->
                        <iframe class="embed-responsive-item" src={{ link }} allowfullscreen></iframe>
                      </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of intro -->

{% endblock %}
