{% extends "navbar.html" %}
{% load static %}

{% block content %}

    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>{{ lessonPlan.title }}</h2>
                        <div>
                            {% for topic in topics %}
                                <span class="badge badge-info">{{topic}}</span>
                            {% endfor %}
                        </div>
                        <p><b>Aim: </b> {{ lessonPlan.aim }}</p>
                        <p style="margin-bottom: 2rem;white-space:pre-wrap;"><b>Objectives: </b> {{ lessonPlan.objectives }}</p>
                        <p style="margin-bottom: 2rem;white-space:pre-wrap;"> {{ lessonPlan.activity }} </p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="embed-responsive embed-responsive-16by9">
                        <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YtvP5A5OHpU" allowfullscreen></iframe> -->
                        <iframe class="embed-responsive-item" src={{ link }} allowfullscreen></iframe>
                      </div>
                </div> <!-- end of col -->
            </div> 
            <br>
            <div class="col-lg-6 form-2">
                <h3>Lesson Evaluation</h3>
                <form action="{% url 'lessonPlans:detail' lessonPlan.id %}" method="post"  class="shadow p-5">
                    {% csrf_token %}
                    {% for fm in form %}
                    <div class="form-group mb-3">
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    </div>
                    {% endfor %}
                    <input type="submit" value="Submit" class="btn btn-primary">
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>      
    </div> 


{% endblock %}
