<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Autism | Lesson Plans</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-custom fixed-top">
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll">HOME</a>
                </li>

                <!-- Dropdown Menu -->          
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">INFO</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">WHAT IS AUTISM?</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">MYTHS & MISCONCEPTIONS</span></a>
                    </div>
                </li>
                <!-- end of dropdown menu -->

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">ABOUT US</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="#about" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">HOW IT WORKS</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">SCREENING</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                        <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">LESSON PLANS</span></a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">CONTACT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#projects">REGISTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#projects">SIGN IN</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="text-container">
                        <h2>Lecture Plans</h2>
                        <p>The plans are divided into 3 phases.</p>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll"><span>HOW IT WORKS</span></a>
                        </div>
                    </div> 
                </div>
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="images/lecturePlans.jpg" alt="alternative">
                    </div>
                </div>
            </div> 
        </div> 
    </div> 


	<div id="projects" class="filter cards-2">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Lesson Plans</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Filter -->
                    <div class="button-group">
                        <a class="button is-checked"><span>PHASE I</span></a>
                        <a class="button"><span>PHASE II</span></a>
                        <a class="button"><span>PHASE III</span></a>
                    </div> <!-- end of button group -->                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->

            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Difficulty Interpreting What Others Are Thinking And Feeling</h3>
                            <p>Subtle social cues, such as a smile, a wave or a frown, may not convey meaning to an autistic person in the way that those without autism interpret them.</p>
                            <br>
                                <div class="button-container">
                                    <a class="btn-solid-reg page-scroll" href="#callMe">READ MORE</a>
                                </div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Difficulty Regulating Emotions</h3>
                            <p>Some autistic children experience challenging behaviors, such as outbursts or crying in contexts when they don’t seem warranted or make sense to others. It’s helpful to know that challenges in regulating emotions may be attempts to communicate when situations are overwhelming, unexpected or new.</p>
                            <br>
                                <div class="button-container">
                                    <a class="btn-solid-reg page-scroll" href="#callMe">READ MORE</a>
                                </div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Unusual Speech</h3>
                            <p>When language begins to develop, an autistic person may use speech in unusual ways. Some have difficulty combining words into meaningful sentences. They may speak only single words or repeat the same phrase over and over.</p>
                            <br>
                                <div class="button-container">
                                    <a class="btn-solid-reg page-scroll" href="#callMe">READ MORE</a>
                                </div>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->

            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Expressive and receptive language</h3>
                            <p>Subtle social cues, such as a smile, a wave or a frown, may not convey meaning to an autistic person in the way that those without autism interpret them.</p>
                            <br>
                                <div class="button-container">
                                    <a class="btn-solid-reg page-scroll" href="#callMe">READ MORE</a>
                                </div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Difficulty Regulating Emotions</h3>
                            <p>Some autistic children experience challenging behaviors, such as outbursts or crying in contexts when they don’t seem warranted or make sense to others. It’s helpful to know that challenges in regulating emotions may be attempts to communicate when situations are overwhelming, unexpected or new.</p>
                            <br>
                                <div class="button-container">
                                    <a class="btn-solid-reg page-scroll" href="#callMe">READ MORE</a>
                                </div>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Unusual Speech</h3>
                            <p>When language begins to develop, an autistic person may use speech in unusual ways. Some have difficulty combining words into meaningful sentences. They may speak only single words or repeat the same phrase over and over.</p>
                            <br>
                                <div class="button-container">
                                    <a class="btn-solid-reg page-scroll" href="#callMe">READ MORE</a>
                                </div>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
		</div> <!-- end of container -->
    </div> <!-- end of filter -->
    	
    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>