{% extends "navbar.html" %}
{% load static %}

{% block content %}

<div id="intro" class="basic-1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="text-container">
                    <h2>Lecture Plans</h2>
                    <p>The plans are divided into 3 phases.</p>
                    <div class="button-container">
                        <a class="btn-solid-reg page-scroll"><span>HOW IT WORKS</span></a>
                    </div>
                </div> 
            </div>
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="images/lecturePlans.jpg" alt="alternative">
                </div>
            </div>
        </div> 
    </div> 
</div> 


<div id="projects" class="filter cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Lesson Plans</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Filter -->
                <div class="button-group">
                    <a class="button is-checked"><span>PHASE I</span></a>
                    <a class="button"><span>PHASE II</span></a>
                    <a class="button"><span>PHASE III</span></a>
                </div> <!-- end of button group -->                    
            </div> <!-- end of col -->
        </div> <!-- end of row -->

        <div class="row">
            <div class="col-lg-12">
                
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Difficulty Interpreting What Others Are Thinking And Feeling</h3>
                        <p>Subtle social cues, such as a smile, a wave or a frown, may not convey meaning to an autistic person in the way that those without autism interpret them.</p>
                        <br>
                            <div class="button-container">
                                <a class="btn-solid-reg page-scroll" href="#callMe">READ MORE</a>
                            </div>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Difficulty Regulating Emotions</h3>
                        <p>Some autistic children experience challenging behaviors, such as outbursts or crying in contexts when they don’t seem warranted or make sense to others. It’s helpful to know that challenges in regulating emotions may be attempts to communicate when situations are overwhelming, unexpected or new.</p>
                        <br>
                            <div class="button-container">
                                <a class="btn-solid-reg page-scroll" href="#callMe">READ MORE</a>
                            </div>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Unusual Speech</h3>
                        <p>When language begins to develop, an autistic person may use speech in unusual ways. Some have difficulty combining words into meaningful sentences. They may speak only single words or repeat the same phrase over and over.</p>
                        <br>
                            <div class="button-container">
                                <a class="btn-solid-reg page-scroll" href="#callMe">READ MORE</a>
                            </div>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->

        <div class="row">
            <div class="col-lg-12">
                
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Expressive and receptive language</h3>
                        <p>Subtle social cues, such as a smile, a wave or a frown, may not convey meaning to an autistic person in the way that those without autism interpret them.</p>
                        <br>
                            <div class="button-container">
                                <a class="btn-solid-reg page-scroll" href="#callMe">READ MORE</a>
                            </div>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Difficulty Regulating Emotions</h3>
                        <p>Some autistic children experience challenging behaviors, such as outbursts or crying in contexts when they don’t seem warranted or make sense to others. It’s helpful to know that challenges in regulating emotions may be attempts to communicate when situations are overwhelming, unexpected or new.</p>
                        <br>
                            <div class="button-container">
                                <a class="btn-solid-reg page-scroll" href="#callMe">READ MORE</a>
                            </div>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Unusual Speech</h3>
                        <p>When language begins to develop, an autistic person may use speech in unusual ways. Some have difficulty combining words into meaningful sentences. They may speak only single words or repeat the same phrase over and over.</p>
                        <br>
                            <div class="button-container">
                                <a class="btn-solid-reg page-scroll" href="#callMe">READ MORE</a>
                            </div>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of filter -->

{% endblock %}
